<?xml version="1.0" encoding="UTF-8"?>
<Installer>

    <Name>FF7 OVA Remake</Name>
    <Version>1.0.0</Version>

    <Title>FF7 OVA Remake Installer</Title>
    <Publisher>JauriaStudios INC</Publisher>
    <ProductUrl>http://ovaremake.mooo.com</ProductUrl>
    <RunProgramDescription>FF7 OVA Remake Installer</RunProgramDescription>
    <MaintenanceToolName>FF7 OVA Remake Maintenance</MaintenanceToolName>
    <MaintenanceToolIniFile>Maintenance</MaintenanceToolIniFile>

    <InstallerApplicationIcon>ff7icon</InstallerApplicationIcon>
    <InstallerWindowIcon>ff7icon64</InstallerWindowIcon>

    <WizardStyle>Modern</WizardStyle>
    <Logo>ovaremake</Logo>
    <Watermark>ovaremake</Watermark>

    <WizardDefaultWidth>640</WizardDefaultWidth>
    <WizardDefaultHeight>400</WizardDefaultHeight>

    <AllowSpaceInPath>true</AllowSpaceInPath>
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
    <TargetDir>C:/games/JauriaStudios INC/FF7 OVA Remake</TargetDir>
    <ControlScript>controlscript.js</ControlScript>

</Installer>
