<?xml version="1.0" encoding="UTF-8"?>
<Installer>

    <Name>OVA REMAKE</Name>
    <Version>1.0.0</Version>

    <Title>Final Fantasy 7</Title>
    <Publisher>Cloudiar</Publisher>
    <ProductUrl>https://ovaremake.mooo.com/</ProductUrl>
    <RunProgramDescription>Final Fantasy 7 OVA REMAKE</RunProgramDescription>
    <MaintenanceToolName>Uninstall</MaintenanceToolName>
    <MaintenanceToolIniFile>Maintenance</MaintenanceToolIniFile>

    <InstallerApplicationIcon>ff7icon</InstallerApplicationIcon>
    <InstallerWindowIcon>ff7icon64</InstallerWindowIcon>

    <WizardStyle>Modern</WizardStyle>
    <Banner>ovaremake-banner.png</Banner>
    <Watermark>ovaremake-watermak.png</Watermark>
    <Background>ovaremake-background.png</Background>
    
    <WizardDefaultWidth>800</WizardDefaultWidth>
    <WizardDefaultHeight>600</WizardDefaultHeight>

    <AllowSpaceInPath>true</AllowSpaceInPath>
    <AllowNonAsciiCharacters>true</AllowNonAsciiCharacters>
    <TargetDir>C:/games/Final7</TargetDir>
    <ControlScript>controlscript.js</ControlScript>

</Installer>
