<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>FF7 OVA Remake</Name>
    <Version>1.0.0</Version>

    <Title>FF7 OVA Remake Installer</Title>
    <Publisher>JauriaStudios</Publisher>
    <ProductUrl>http://ovaremake.260mb.net/</ProductUrl>
    <RunProgramDescription>FF7 OVA Remake Installer</RunProgramDescription>
   
    <InstallerApplicationIcon>ff7icon</InstallerApplicationIcon>
    <InstallerWindowIcon>ff7icon</InstallerWindowIcon>

    <WizardStyle>Aero</WizardStyle>
    <Watermark>ovaremake.png</Watermark>

    <AllowSpaceInPath>true</AllowSpaceInPath>
    <TargetDir>@ApplicationsDir@/JauriaStudiosINC/FF7 OVA Remake</TargetDir>
    
</Installer>
